/* ======================CDN FONT GOOGLE======================= */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

/* =======================Variable css ========================== */
:root{
    /* font-size */
    --big-size: 1.4rem;
    --small-sise: .895rem;

    /* font-weight*/
    --small-weight: 400;
    --normall-weight : 500;

    /* font-family */
    --family-font: 'Lato', sans-serif;

    /* color */
    --bgColor: #fafafa;
    --h2Color: rgb(14, 14, 14);
    --paragraphColor: #303030;
}

/* ====================recettes css ================= */
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-family: var(--family-font);
}
 
.card__container{
    width: 60%;
    background: var(--bgColor);
    padding: 50px 10px;
}

.card__content .card__logo img{
    width: 95px;
    padding-bottom: 30px;
}

.card__main{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card__left-side{
    width: 40%;
    padding-left: 10px;
}

.card__title{
    font-size: var(--big-size);
    font-weight: var(--small-weight);
    padding-bottom: 25px;
}

.card__description{
    font-size: var(--small-sise);
    padding-bottom: 10px;
}

.card__list{
    display: flex;
    flex-direction: column;
    padding-left: 7px;
}

.card__list .card__item{
    list-style-type: none;
    font-size: var(--small-sise);
    padding: 5px 0;
}

.card__list .card__item .bx-check{
    color: #58B1FF;
}

.card__products{
    display: flex;
    margin-left: 10px;
}

.card__products .card__product-item{

    padding: 5px 15px 5px 0;
}

.card__products .card__product-item:nth-child(1){
    padding-left: 25px;
}

.card__products .card__product-item img{
    width: 23px;
}

.card__link{
    position: relative;
    font-size: var(--small-sise);
    text-decoration: none;
    color: #58B1FF;
    cursor: pointer;
}

.card__link::before{
    content: "";
    position: absolute;
    width: 0;
    background-color: #58B1FF;
    height: 1px;
    transform: translateY(18px);
    transition: 0.2s;
}

.card__left-side a:hover.card__link::before{
    transition: 0.2s;
    width: 100%;
}


.card__right-side{
    width: 50%;
    margin-left: 50px;
    background: url('../img/RWFJ2T.webp');
    background-size: cover;
    background-position: bottom;
}